# Node dependencies
node_modules/

# Playwright test results & reports
test-results/
playwright-report/
playwright/.cache/


src/resources/storage/
src/resources/test-data/
video/
videos/
my-allure-results/

# Logs
*.log

.env