# Node dependencies
node_modules/

# Playwright test results & reports
test-results/
playwright-report/
playwright/.cache/

# Project-specific generated/temporary files
resources/storage/

# Logs
*.log

.env